$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
html,
body {
    height: 100%;
    color:#333333;
}
img.emoji {
    width: 20px;
    height: 20px;
}

body {
    background-image: url(../images/body-bg.png);
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.corner-radius {
    border-radius: 6px;
}

.main {

    padding: 20px 0;
    border-radius: 5px;
    
    .avatar {
        padding: 1px;
        line-height: 1.42857;
        background-color: white;
        border: 1px solid #dddddd;
        border-radius: 4px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        display: inline-block;
        max-width: 100%;
        height: auto;
    }

    .article-list {
        padding: 0px;
        background-color: white;
        
        .article-list-heading {
            color: #51554E;
            padding: 0px;
            a:hover {
                color: #428bca;
            }

            .article-sorting {
                font-size: 0.9em;
                margin-bottom: 4px;

                i {
                    padding:5px;
                }
                a {
                    text-decoration: none;
                    color:#898B87;
                }
                a:hover {
                    color: #428bca;
                }
            }    
        }
        
        .topic {
            border-bottom: 1px solid #ddd;
            padding: 4px 10px;
        }
        .topic:last-child {
            border-bottom: none;
        }

        .topic-meta {
            color: gray;
            font-size: 0.9em;
        }

        .title {
            font-size: 1.1em;
            padding: 3px 0;
        }

        .reply-count {
            padding-top: 10px;
        }

        .buttom-pager {
            padding-right: 36px;
        }

    }


    .side-bar {
        padding-right: 0px;
        
        .little-topic-list li{
            padding:2px 0;

            img {
                border-radius: 4px;
                margin-right:3px;
                margin-bottom: 2px;
            }

            a {
                color: #6F6F6F;
                text-decoration: none;
            }
            a:hover {
                color: #428bca;
            }
        }
        .dropdown-caret {
            height: 45px;
            width: 46px
        }
        .box {
            .panel-body {
                font-size: 0.9em;
            }
        }

        .user_github_repos {
            padding: 0px;

            ul li {
                padding: 10px 10px 0px;
                border-bottom: 1px solid #eee;
            }
        }

    }

    
    .box-block {
        background-color: #fff;
        padding: 14px;
        margin: 0 0 20px 0;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.05);
        -moz-box-shadow: 0 0px 2px rgba(0,0,0,0.05);
        box-shadow: 0 0px 2px rgba(0,0,0,0.05);

        h2.title {
            font-size: 12px;
            margin: 0 -10px;
            padding: 0 10px;
            margin-bottom: 8px;
            color: #999;
            line-height: 100%;
            border-bottom: 1px solid #ddd;
            padding-bottom: 8px;
        }
    }


    .topic-content {
        .entry-title {
            font-size: 1.6em;
        }

        .entry-content {
            padding:20px 5px;
        }

        .infos {
            position: relative;
            margin-bottom: 10px;
            margin-right: 56px;
            border-bottom: 1px solid #ddd;
            margin: 0 -10px;
            padding: 0 10px 7px 10px;
        }

        .entry-content {
            padding-top: 20px;
        }


        .social-share-button-baidu {
            display:inline-block;
            width:16px;
            height:16px;
            background:url("../images/social-share-button.png") 0px 0px no-repeat
        }
        .social-share-button-delicious {
            display:inline-block;
            width:16px;
            height:16px;
            background:url("../images/social-share-button.png") -16px 0px no-repeat
        }
        .social-share-button-douban {
            display:inline-block;
            width:16px;
            height:16px;
            background:url("../images/social-share-button.png") 0px -16px no-repeat
        }
        .social-share-button-email {
            display:inline-block;
            width:16px;
            height:16px;
            background:url("../images/social-share-button.png") -16px -16px no-repeat
        }
        .social-share-button-facebook {
            display:inline-block;
            width:16px;
            height:16px;
            background:url("../images/social-share-button.png") -32px 0px no-repeat
        }
        .social-share-button-flickr {
            display:inline-block;
            width:16px;
            height:16px;
            background:url("../images/social-share-button.png") -32px -16px no-repeat
        }
        .social-share-button-google_bookmark {
            display:inline-block;
            width:16px;
            height:16px;
            background:url("../images/social-share-button.png") 0px -32px no-repeat
        }
        .social-share-button-google_plus {
            display:inline-block;
            width:16px;
            height:16px;
            background:url("../images/social-share-button.png") -16px -32px no-repeat
        }
        .social-share-button-kaixin001 {
            display:inline-block;
            width:16px;
            height:16px;
            background:url("../images/social-share-button.png") -32px -32px no-repeat
        }
        .social-share-button-qq {
            display:inline-block;
            width:16px;
            height:16px;
            background:url("../images/social-share-button.png") -48px 0px no-repeat
        }
        .social-share-button-renren {
            display:inline-block;
            width:16px;
            height:16px;
            background:url("../images/social-share-button.png") -48px -16px no-repeat
        }
        .social-share-button-tqq {
            display:inline-block;
            width:16px;
            height:16px;
            background:url("../images/social-share-button.png") -48px -32px no-repeat
        }
        .social-share-button-tumblr {
            display:inline-block;
            width:16px;
            height:16px;
            background:url("../images/social-share-button.png") 0px -48px no-repeat
        }
        .social-share-button-twitter {
            display:inline-block;
            width:16px;
            height:16px;
            background:url("../images/social-share-button.png") -16px -48px no-repeat
        }
        .social-share-button-weibo {
            display:inline-block;
            width:16px;
            height:16px;
            background:url("../images/social-share-button.png") -32px -48px no-repeat
        }
        .tools a:link, .tools a:visited {
            padding-left:5px;
            text-decoration:none;
            color: #898B87;
        }
        .tools a:link i, .tools a:visited i {
            margin-bottom:-1px;
        }
        .social-share-button a {
            margin:2px;
        }

    }

    .replies {

        .avatar {
            width:56px;
        }
        .infos {
            padding-right:0px
        }
        .right_info {
            padding-left:66px
        }
        .title {
            font-size:14px;
            margin-top:2px;
            margin-bottom:6px
        }
        .title i {
            margin-bottom:-1px
        }
        .info {
            color:#bbb;
            margin-bottom:2px;
            font-size:12px
        }
        .info .node {
            padding:1px 5px;
            color:#778087;
            text-decoration:none;
            background-color:#f5f5f5
        }
        .info em {
            font-style:normal
        }
        a:link, a:visited {
            color:#999;
            text-decoration:underline
        }
        .replies {
            width:70px;
            margin-right:10px;
            text-align:right;
            vertical-align:middle
        }
        .replies a.count, .replies a.count:visited {
            line-height:12px;
            font-weight:bold;
            color:white;
            background-color:#1c7fdb;
            display:inline-block;
            padding:2px 10px 2px 10px;
            -moz-border-radius:80px;
            -webkit-border-radius:80px;
            border-radius:80px;
            margin:18px 12px 0px 0px;
            text-decoration:none
        }
        .replies a.count:hover {
            color:write;
            background:#1dc115
        }
        .replies a.state_true:link, .replies a.state_true:visited {
            background:#DDD
        }
        .replies a.state_true:hover {
            background:#aaa
        }
        .topics .body {
            margin-bottom:10px;
            margin-top:8px
        }
        .topics .body img {
            max-width:690px
        }

        .total {
            padding:0 10px 6px 10px;
            border-bottom:1px solid #DDD;
            color:#999;
            margin:0 -10px;
        }
        .total a {
            color:#666;
            text-decoration:underline;
        }
        .pagination {
            padding:8px 10px 0 10px;
            margin:0 -10px;
        }
        .reply {
            padding:7px 10px;
            margin:0 -10px;
            background:#FFF;
            border-bottom: 1px solid #ddd;
        }
        .reply .deleted {
            color:#aaa;
            text-decoration:line-through;
            font-size:12px;
            text-align:center
        }
        .reply.light {
            background:#F7F2FC
        }
        .reply.popular {
            background:#fffce9
        }
        .reply .face {
            padding-right:8px;
            width:55px;
            margin-left:0
        }
        .reply .infos {
            padding-left:68px;
        }
        .reply .info {
            font-size:12px;
            color:#bbb;
            height:20px
        }
        .reply .info a:link, .reply .info a:visited {
            color:#999
        }
        .reply .info .name a {
            color:#888;
            text-decoration:none;
            font-weight:bold;
            margin-right:8px
        }
        .reply .info .name a:hover {
            color:#555
        }
        .reply .info .time a.reply-floor {
            margin-right:0;
            color:#bbb;
            text-decoration:none
        }
        .reply .info .time a.reply-floor:hover {
            color:#999
        }
        .reply .info .opts {
            float:right;
            text-align:right
        }
        .reply .info .opts a {
            margin-left:8px
        }
        .reply .info .opts a:hover {
            text-decoration:none
        }
        .reply .info .opts i.icon {
            margin-bottom:-1px
        }
        
        .reply .info a.reply_link img {
            vertical-align:middle
        }
        .reply .body {
            text-align:left;
            margin-top:5px
        }
        .reply .body img {
            max-width:622px
        }
        .reply:last-child {
            border-bottom: none;
        }
    }

    .reply-box {

        
        position:relative;
        padding: 8px 20px;

        .pills::after {
            clear:left;
        }
        textarea {
            margin-bottom:10px;
            padding: 2px;
            height: 110px;
            border-color: #ccc;
            border-radius: 5px;
        }
        .submit_buttons {
            position:absolute;
            right: 28px;
            top: 50px;
        }

        form {
            margin-bottom:0px
        }
        .editor_toolbar {
            width:588px
        }

    }

    .view-member-info {

        .nav-tabs {
            margin-bottom: 15px;    
            border-bottom: none;
            background-color: white;
            border-radius: 18px;

            li.active > a {
                border-radius: 18px;
                border-bottom-color: #dddddd;
            }
        }

        .member-info {

            dl dt, dl dd {
                font-size: 14px;
                line-height: 180%;
                border-bottom: 1px dashed #eee;
            }
            dl dt {
                width: 125px;
                font-weight: normal;
                color: #bbb;
            }
            dl dd {
                margin-left: 142px;
            }

            .avatar {
                margin:40px;
            }
            dl {
                margin-top: 30px;
            }
        }


        .hot-topic-by-member {
            ul {
                list-style:none;
                margin:0;
                padding-left: 0px;
            }
            ul li {
                border-bottom:1px dashed #ddd;
                padding:3px
            }
            ul li i.icon {
                margin-bottom:-1px
            }
            ul li .info {
                font-size:12px;
                color:#bbb
            }
            ul li .node {
                margin-right:5px
            }
            ul li .node a {
                color:#444
            }
        }

        .recent-replies-by-member {

            list-style:none;
            margin:0;
            
            li {
                margin-top:8px;
                border-bottom:1px dashed #ddd
            }
            li .title {
                font-size:14px
            }
            li .title .info {
                font-size:12px;
                color:#bbb
            }
            li .body {
                margin-top:6px;
                color:#666
            }
            li .body a {
                color:#333
            }
            li .body p {
                font-size:13px
            }
            li .body img {
                max-width:680px
            }
            .info {
                margin-left: 5px;

                abbr {
                    margin-left: 4px;
                }
            }


        }


        

    }




    .content {
        padding: 0px;
        margin: 0px;
    }
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px dotted #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px dotted #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1050px) {
    .container {
        max-width: 1000px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}



.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}