ul.breadcrumb.menu.clearfix
  li.first
    a(href='/') Home
    span.divider 
  li
    a(href='/topics', itemprop='url')
      span(itemprop='title') 社区
    span.divider 
  li.last.active
    a(href='http://ruby-china.org/topics', itemprop='url')
      span(itemprop='title') 活跃帖子