.col-sm-3.side-bar
  .panel.panel-default.corner-radius.box
    .panel-heading.text-center
      h3.panel-title Github Public Repos
    .panel-body.user_github_repos
      ul.list-unstyled
        li
          .title
            a(href='https://github.com/summerblue/laravel4-url-shortener', rel='nofollow', target='_blank') laravel4-url-shortener
            span.watchers.pull-right(title='2 Watchers') 2
          p.desc
            | a Url Shortener app build on top of the laravel 4 framework.
        li
          .title
            a(href='https://github.com/summerblue/ikbcity.com', rel='nofollow', target='_blank') ikbcity.com
            span.watchers.pull-right(title='1 Watchers') 1
          p.desc
            | Source Code of iKBCity.com
        li
          .title
            a(href='https://github.com/summerblue/http-server', rel='nofollow', target='_blank') http-server
            span.watchers.pull-right(title='0 Watchers') 0
          p.desc
            | a simple zero-configuration command-line http server
        li
          .title
            a(href='https://github.com/summerblue/Semantic-UI', rel='nofollow', target='_blank') Semantic-UI
            span.watchers.pull-right(title='0 Watchers') 0
          p.desc
            | Semantic empowers designers and developers by creating a shared vocabulary for UI.
        li
          .title
            a(href='https://github.com/summerblue/yeoman', rel='nofollow', target='_blank') yeoman
            span.watchers.pull-right(title='0 Watchers') 0
          p.desc
            | Yeoman (n) 1. A noble servant, carrying out various duties for the sovereign. Associated with har...
        li
          .title
            a(href='https://github.com/summerblue/php-emoji-for-apns', rel='nofollow', target='_blank') php-emoji-for-apns
            span.watchers.pull-right(title='0 Watchers') 0
          p.desc
            | a php helper function to send emoji encoded string to apns
        li
          .title
            a(href='https://github.com/summerblue/rspec_rails_4', rel='nofollow', target='_blank') rspec_rails_4
            span.watchers.pull-right(title='0 Watchers') 0
          p.desc
            | Everyday Rails Testing with RSpec (Rails 4.0 Edition)
        li
          .title
            a(href='https://github.com/summerblue/laravel-ember-todo', rel='nofollow', target='_blank') laravel-ember-todo
            span.watchers.pull-right(title='0 Watchers') 0
          p.desc
            | Sample todo application built with Laravel 4 and EmberJS
        li
          .title
            a(href='https://github.com/summerblue/gitlab-installer', rel='nofollow', target='_blank') gitlab-installer
            span.watchers.pull-right(title='0 Watchers') 0
          p.desc
            | Installer for GitLab
        li
          .title
            a(href='https://github.com/summerblue/k-vim', rel='nofollow', target='_blank') k-vim
            span.watchers.pull-right(title='0 Watchers') 0
          p.desc
            | vim配置
        li
          .title
            a(href='https://github.com/summerblue/hColumns', rel='nofollow', target='_blank') hColumns
            span.watchers.pull-right(title='0 Watchers') 0
          p.desc
            | jQuery.hColumns is a jQuery plugin that looks like Mac OS X Finder's column view for the hierarch...
        li
          .title
            a(href='https://github.com/summerblue/finder-open-in-path', rel='nofollow', target='_blank') finder-open-in-path
            span.watchers.pull-right(title='0 Watchers') 0
          p.desc
            | Toolbar shortcuts to open terminal, sublime or vim from path
        li
          .title
            a(href='https://github.com/summerblue/Markdown-Chinese-Demo', rel='nofollow', target='_blank') Markdown-Chinese-Demo
            span.watchers.pull-right(title='0 Watchers') 0
          p.desc
            | 针对中文,演示Markdown的各种语法
        li
          .title
            a(href='https://github.com/summerblue/vagrant-laravel', rel='nofollow', target='_blank') vagrant-laravel
            span.watchers.pull-right(title='0 Watchers') 0
          p.desc
            | A simple set up script for provisioning Vagrant for Laravel


