#favs.tab-pane.fade
  .box-block.hot-topic-by-member
    ul
      li
        span.node
          a.node(href='/topics/node26') 分享
        a(href='/topics/15174', title='Maintainable Rails View 文章版（長文慎入）') Maintainable Rails View 文章版（長文慎入）
        i.icon.small_cert_on(title='精华贴')
        span.info.pull-right 59 人喜欢, 23 条回复
      li
        span.node
          a.node(href='/topics/node26') 分享
        a(href='/topics/14432', title='一趟 MVP 的旅程：在 Logdown 學到的幾件事') 一趟 MVP 的旅程：在 Logdown 學到的幾件事
        i.icon.small_cert_on(title='精华贴')
        span.info.pull-right 49 人喜欢, 22 条回复
      li
        span.node
          a.node(href='/topics/node3') Gem
        a(href='/topics/4723', title='Cancan 實作角色權限設計的最佳實踐') Cancan 實作角色權限設計的最佳實踐
        i.icon.small_cert_on(title='精华贴')
        span.info.pull-right 49 人喜欢, 14 条回复
      li
        span.node
          a.node(href='/topics/node2') Rails
        a(href='/topics/10672', title='Upgrade 到 Rails4 的一些感想') Upgrade 到 Rails4 的一些感想
        i.icon.small_cert_on(title='精华贴')
        span.info.pull-right 42 人喜欢, 23 条回复
      li
        span.node
          a.node(href='/topics/node2') Rails
        a(href='/topics/13419', title=' Secure Your Application : The Basic ')  Secure Your Application : The Basic 
        span.info.pull-right 37 人喜欢, 11 条回复
      li
        span.node
          a.node(href='/topics/node30') 产品控
        a(href='/topics/14546', title='先做软体，不要先做平台') 先做软体，不要先做平台
        i.icon.small_cert_on(title='精华贴')
        span.info.pull-right 28 人喜欢, 31 条回复
      li
        span.node
          a.node(href='/topics/node26') 分享
        a(href='/topics/10837', title='寫一個 Gem 要用到哪些知識') 寫一個 Gem 要用到哪些知識
        i.icon.small_cert_on(title='精华贴')
        span.info.pull-right 27 人喜欢, 16 条回复
      li
        span.node
          a.node(href='/topics/node37') Testing
        a(href='/topics/11104', title='One Assertion Per Test & DAMP Not DRY') One Assertion Per Test & DAMP Not DRY
        i.icon.small_cert_on(title='精华贴')
        span.info.pull-right 25 人喜欢, 21 条回复
      li
        span.node
          a.node(href='/topics/node26') 分享
        a(href='/topics/7311', title='[投影片] Ruby on Rails 新兵營 : 如何將你的新工程師迅速調教成一隻老鳥') [投影片] Ruby on Rails 新兵營 : 如何將你的新工程師迅速調教成一隻老鳥
        span.info.pull-right 24 人喜欢, 20 条回复
      li
        span.node
          a.node(href='/topics/node3') Gem
        a(href='/topics/13792', title='Cells 實作 Partial 封裝的最佳實踐') Cells 實作 Partial 封裝的最佳實踐
        i.icon.small_cert_on(title='精华贴')
        span.info.pull-right 23 人喜欢, 11 条回复
      li
        span.node
          a.node(href='/topics/node2') Rails
        a(href='/topics/5081', title='Rails with massive data') Rails with massive data
        i.icon.small_cert_on(title='精华贴')
        span.info.pull-right 22 人喜欢, 25 条回复
      li
        span.node
          a.node(href='/topics/node26') 分享
        a(href='/topics/11751', title='Logdown - blogging in Markdown') Logdown - blogging in Markdown
        span.info.pull-right 20 人喜欢, 69 条回复
      li
        span.node
          a.node(href='/topics/node3') Gem
        a(href='/topics/5922', title='Bootstrappers 快速搭建 Rails Application with Bootstrap Theme') Bootstrappers 快速搭建 Rails Application with Bootstrap Theme
        span.info.pull-right 19 人喜欢, 8 条回复
      li
        span.node
          a.node(href='/topics/node26') 分享
        a(href='/topics/15638', title='MVP 的 M') MVP 的 M
        i.icon.small_cert_on(title='精华贴')
        span.info.pull-right 18 人喜欢, 5 条回复
      li
        span.node
          a.node(href='/topics/node3') Gem
        a(href='/topics/5322', title='Cache Digests 最大化緩存策略') Cache Digests 最大化緩存策略
        span.info.pull-right 18 人喜欢, 13 条回复
      li
        span.node
          a.node(href='/topics/node3') Gem
        a(href='/topics/510', title='Bootstrap Helper') Bootstrap Helper
        span.info.pull-right 13 人喜欢, 10 条回复
      li
        span.node
          a.node(href='/topics/node2') Rails
        a(href='/topics/12020', title='升級 Rails 4 請先停看聽 (災難帖)') 升級 Rails 4 請先停看聽 (災難帖)
        span.info.pull-right 12 人喜欢, 45 条回复
      li
        span.node
          a.node(href='/topics/node2') Rails
        a(href='/topics/10705', title='Rails 4 : New Feature, Better Syntax') Rails 4 : New Feature, Better Syntax
        span.info.pull-right 12 人喜欢, 12 条回复
      li
        span.node
          a.node(href='/topics/node2') Rails
        a(href='/topics/10771', title='Rails 3 中生 MySQL subquery 的秘技') Rails 3 中生 MySQL subquery 的秘技
        i.icon.small_cert_on(title='精华贴')
        span.info.pull-right 10 人喜欢, 9 条回复
      li
        span.node
          a.node(href='/topics/node2') Rails
        a(href='/topics/197', title='一些新手的進階 Ruby / Rails 知識') 一些新手的進階 Ruby / Rails 知識
        span.info.pull-right 10 人喜欢, 15 条回复
