extends layout

block content
  
  .col-md-9.content.view-member-info
    .member-info.hfeed
      ul.nav.nav-tabs
        li.active
          a(href='#userinfo', data-toggle='tab') 个人信息
        li
          a(href='#topics', data-toggle='tab') 帖子
        li
          a(href='#favs', data-toggle='tab') 收藏
      #myTabContent.tab-content
        include member_userinfo
        include member_topics
        include member_favs

  include member_rightnav 
  .clearfix


