.alert-messages
  .alert.alert-success.alert-dismissable
    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
    strong 恭喜
    |  登录成功.
  .alert.alert-info.alert-dismissable.hide
    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
    strong Heads up!
    | This alert needs your attention, but it's not super important.
  .alert.alert-warning.alert-dismissable.hide
    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
    strong Warning!
    | Best check yo self, you're not looking too good.
  .alert.alert-danger.alert-dismissable.hide
    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
    strong Oh snap!
    | Change a few things up and try submitting again.