extends layout

block content
  .container.main
    .col-md-9.article-list.corner-radius.panel.panel-default
      .panel-heading
        h4.panel-title.pull-left
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
            span.glyphicon.glyphicon-file
            |  帖子列表
        .pull-right 查看: 默认 /  优质帖子 / 无人问津 / 最新创建
        .clearfix
      - for (var i=0; i<20; i++)
        include item

    .col-sm-3.side-bar
      .panel.panel-default.corner-radius
        .panel-heading
          h3.panel-title Panel title
        .panel-body
          | Panel content

    .clearfix
    
