extends layout

block content
  
  include alert-messages

  include breadcrumb

  .col-md-9.article-list.corner-radius.panel.panel-default
    .panel-heading.article-list-heading
      ul.pull-right.middle.article-sorting.breadcrumb
        li
          a(href='#') 
            i.glyphicon.glyphicon-time 
            | 最近发表 
          span.divider 
        li
          a(href='#') 
            i.glyphicon.glyphicon-ok 
            | 精华帖子 
          span.divider 
        li 
          a(href='#') 
            i.glyphicon.glyphicon-thumbs-up 
            | 最多投票 
          span.divider 
        li
          a(href='#') 
            i.glyphicon.glyphicon-eye-open 
            | 无人问津
 

      .clearfix
    - for (var i=0; i<15; i++)
      include item
  
    ul.pagination.buttom-pager.pull-right
      li.disabled
        a(href='#') «
      li.active
        a(href='#') 1
      li
        a(href='#') 2
      li
        a(href='#') 3
      li
        a(href='#') 4
      li
        a(href='#') 5
      li
        a(href='#') »

  include rightnav 
  .clearfix


