.topic.topic_line.clearfix
  .avatar.pull-left
    a(href='/user.html')
      img.uface(alt='946dbc66d19ba815ffec20d05f138f73', src='holder.js/48x48')
  .item_title.col-md-11
    .infos
      .title
        a(href='/topics/15661', title='求一份 Ruby 相关的远程兼职') 求一份 Ruby 相关的远程兼职
        .pull-right.reply-count
          .badge.badge-info 30
      .topic-meta
        a.dark.rabel.profile_link(href='/member/daqing', title='daqing') daqing
        span.muted  • 
        | 24 小时前
        span.muted  • 
        | 最后回复来自
        a.rabel.profile_link(href='/member/v4lour', title='v4lour') v4lour