.topic.topic_line.clearfix
  .avatar.pull-left
    a(href='/linjunhalida')
      img.uface(alt='946dbc66d19ba815ffec20d05f138f73', src='http://ruby-china.org/avatar/946dbc66d19ba815ffec20d05f138f73.png?s=96&d=404', style='width: 48px; height: 48px;')
  .item_title.col-md-11
    .infos
      .title
        a(href='/topics/15661', title='求一份 Ruby 相关的远程兼职') 求一份 Ruby 相关的远程兼职
        .pull-right.reply-count
          .badge.badge-info 30
      .topic-meta
        a.dark.rabel.profile_link(href='/member/daqing', title='daqing') daqing
        span.muted  • 
        | 24 小时前
        span.muted  • 
        | 最后回复来自
        a.rabel.profile_link(href='/member/v4lour', title='v4lour') v4lour