extends layout

block content
  
  .col-md-9.content.view-member-info
    .member-info.hfeed.box-block
      ul.nav.nav-tabs
        li.active
          a(href='#userinfo', data-toggle='tab') 个人信息
        li
          a(href='#topics', data-toggle='tab') 帖子
        li
          a(href='#favs', data-toggle='tab') 收藏
      #myTabContent.tab-content
        #userinfo.tab-pane.active.in
          .userinfo.vcard
            .pull-right(style='text-align: center;')
              a(href='/summer_charlie')
                img.uface(alt='90772cf58eb0f09b4dc41d5f1ca1334c', src='http://ruby-china.org/avatar/90772cf58eb0f09b4dc41d5f1ca1334c.png?s=240&d=404', style='width: 120px; height: 120px;')
            span.label.role 会员
            dl.dl-horizontal.pull-left
              dt 
                lable &nbsp; 
              dd 第 7550 位会员

              dt
                label ID:
              dd
                strong.fn summer_charlie
              
              dt
                label Name:
              dd
                strong Charlie Jade
              
              dt.adr
                label 城市:
              dd 
                span.region
                  a(href='/users/city/Beijing') Beijing
              dt.adr
                label 公司:
              dd
                span.org CondeNast China
              
              dt
                label
                  span.translation_missing(title='translation missing: zh-CN.users.twitter') Twitter
                  | :
              dd
                span
                  a.twitter(href='https://twitter.com/Summer_Charlie', rel='nofollow') @Summer_Charlie
              
              dt
                label 博客:
              dd
                span
                  a.url(href='http://summerbluet.com', rel='nofollow', target='_blank') http://summerbluet.com
              
              dt
                label 签名:
              dd
                span A little Knowledge is a dangerous thing, so is a lot. 
              
              dt
                label Since:
              dd
                span 2013年6月11日



        #topics.tab-pane.fade
        #favs.tab-pane.fade

      .clearfix
 
    .box-block
      p
      p A man seeking for knowledge.
      p

    .box-block.hot-topic-by-member
      h2.title.text-center 倍受大家喜欢的帖子
      ul
        li
          span.node
            a.node(href='/topics/node26') 分享
          a(href='/topics/15174', title='Maintainable Rails View 文章版（長文慎入）') Maintainable Rails View 文章版（長文慎入）
          i.icon.small_cert_on(title='精华贴')
          span.info.pull-right 59 人喜欢, 23 条回复
        li
          span.node
            a.node(href='/topics/node26') 分享
          a(href='/topics/14432', title='一趟 MVP 的旅程：在 Logdown 學到的幾件事') 一趟 MVP 的旅程：在 Logdown 學到的幾件事
          i.icon.small_cert_on(title='精华贴')
          span.info.pull-right 49 人喜欢, 22 条回复
        li
          span.node
            a.node(href='/topics/node3') Gem
          a(href='/topics/4723', title='Cancan 實作角色權限設計的最佳實踐') Cancan 實作角色權限設計的最佳實踐
          i.icon.small_cert_on(title='精华贴')
          span.info.pull-right 49 人喜欢, 14 条回复
        li
          span.node
            a.node(href='/topics/node2') Rails
          a(href='/topics/10672', title='Upgrade 到 Rails4 的一些感想') Upgrade 到 Rails4 的一些感想
          i.icon.small_cert_on(title='精华贴')
          span.info.pull-right 42 人喜欢, 23 条回复
        li
          span.node
            a.node(href='/topics/node2') Rails
          a(href='/topics/13419', title=' Secure Your Application : The Basic ')  Secure Your Application : The Basic 
          span.info.pull-right 37 人喜欢, 11 条回复
        li
          span.node
            a.node(href='/topics/node30') 产品控
          a(href='/topics/14546', title='先做软体，不要先做平台') 先做软体，不要先做平台
          i.icon.small_cert_on(title='精华贴')
          span.info.pull-right 28 人喜欢, 31 条回复
        li
          span.node
            a.node(href='/topics/node26') 分享
          a(href='/topics/10837', title='寫一個 Gem 要用到哪些知識') 寫一個 Gem 要用到哪些知識
          i.icon.small_cert_on(title='精华贴')
          span.info.pull-right 27 人喜欢, 16 条回复
        li
          span.node
            a.node(href='/topics/node37') Testing
          a(href='/topics/11104', title='One Assertion Per Test & DAMP Not DRY') One Assertion Per Test & DAMP Not DRY
          i.icon.small_cert_on(title='精华贴')
          span.info.pull-right 25 人喜欢, 21 条回复
        li
          span.node
            a.node(href='/topics/node26') 分享
          a(href='/topics/7311', title='[投影片] Ruby on Rails 新兵營 : 如何將你的新工程師迅速調教成一隻老鳥') [投影片] Ruby on Rails 新兵營 : 如何將你的新工程師迅速調教成一隻老鳥
          span.info.pull-right 24 人喜欢, 20 条回复
        li
          span.node
            a.node(href='/topics/node3') Gem
          a(href='/topics/13792', title='Cells 實作 Partial 封裝的最佳實踐') Cells 實作 Partial 封裝的最佳實踐
          i.icon.small_cert_on(title='精华贴')
          span.info.pull-right 23 人喜欢, 11 条回复
        li
          span.node
            a.node(href='/topics/node2') Rails
          a(href='/topics/5081', title='Rails with massive data') Rails with massive data
          i.icon.small_cert_on(title='精华贴')
          span.info.pull-right 22 人喜欢, 25 条回复
        li
          span.node
            a.node(href='/topics/node26') 分享
          a(href='/topics/11751', title='Logdown - blogging in Markdown') Logdown - blogging in Markdown
          span.info.pull-right 20 人喜欢, 69 条回复
        li
          span.node
            a.node(href='/topics/node3') Gem
          a(href='/topics/5922', title='Bootstrappers 快速搭建 Rails Application with Bootstrap Theme') Bootstrappers 快速搭建 Rails Application with Bootstrap Theme
          span.info.pull-right 19 人喜欢, 8 条回复
        li
          span.node
            a.node(href='/topics/node26') 分享
          a(href='/topics/15638', title='MVP 的 M') MVP 的 M
          i.icon.small_cert_on(title='精华贴')
          span.info.pull-right 18 人喜欢, 5 条回复
        li
          span.node
            a.node(href='/topics/node3') Gem
          a(href='/topics/5322', title='Cache Digests 最大化緩存策略') Cache Digests 最大化緩存策略
          span.info.pull-right 18 人喜欢, 13 条回复
        li
          span.node
            a.node(href='/topics/node3') Gem
          a(href='/topics/510', title='Bootstrap Helper') Bootstrap Helper
          span.info.pull-right 13 人喜欢, 10 条回复
        li
          span.node
            a.node(href='/topics/node2') Rails
          a(href='/topics/12020', title='升級 Rails 4 請先停看聽 (災難帖)') 升級 Rails 4 請先停看聽 (災難帖)
          span.info.pull-right 12 人喜欢, 45 条回复
        li
          span.node
            a.node(href='/topics/node2') Rails
          a(href='/topics/10705', title='Rails 4 : New Feature, Better Syntax') Rails 4 : New Feature, Better Syntax
          span.info.pull-right 12 人喜欢, 12 条回复
        li
          span.node
            a.node(href='/topics/node2') Rails
          a(href='/topics/10771', title='Rails 3 中生 MySQL subquery 的秘技') Rails 3 中生 MySQL subquery 的秘技
          i.icon.small_cert_on(title='精华贴')
          span.info.pull-right 10 人喜欢, 9 条回复
        li
          span.node
            a.node(href='/topics/node2') Rails
          a(href='/topics/197', title='一些新手的進階 Ruby / Rails 知識') 一些新手的進階 Ruby / Rails 知識
          span.info.pull-right 10 人喜欢, 15 条回复

    .box-block.recent-replies-by-member
      h2.title.text-center 最近回复的帖子
      ul.recent_replies.list-unstyled
        li
          .title
            a(href='/topics/9650') 社区新规则 - 新注册的用户 1 周内禁止发帖
            span.info
              | at
              abbr.timeago(title='2013-12-01T10:43:44+08:00') 1天前
          .body
            p 只允许使用 Github 登陆. 
        li
          .title
            a(href='/topics/15571') 简单 BIZ 产品开发过程（创业）干货总结
            span.info
              | at
              abbr.timeago(title='2013-11-16T04:18:45+08:00') 16天前
          .body
            p
              a.at_floor(href='#reply8', data-floor='8') #8楼
              a.at_user(href='/cestivan', title='@cestivan')
                i @
                | cestivan
              | 很不能把购买的模板的链接贴下, 很不错的 UI.
              img.emoji(src='http://l.ruby-china.org/assets/emojis/sparkles.png', title=':sparkles:', alt='')
        li
          .title
            a(href='/topics/15250') DD-wrt + 云梯 pptp + autoddvpn，这个翻墙方案是否可行？
            span.info
              | at
              abbr.timeago(title='2013-11-14T17:55:21+08:00') 17天前
          .body
            p
              a.at_user(href='/xiaoronglv', title='@xiaoronglv')
                i @
                | xiaoronglv
              | 搞定了没?
              br
              | 是否可以分享下购买的硬件和你使用的方案.
              img.emoji(src='http://l.ruby-china.org/assets/emojis/alien.png', title=':alien:', alt='')
        li
          .title
            a(href='/topics/15450') [Teahour #38] 与 GuruDigger 创始人蔡金聊创业团队如何寻找靠谱工程师
            span.info
              | at
              abbr.timeago(title='2013-11-12T09:25:22+08:00') 20天前
          .body
            p
              | 听完, 辛苦丁大叔了
              img.emoji(src='http://l.ruby-china.org/assets/emojis/sparkles.png', title=':sparkles:', alt='')
        li
          .title
            a(href='/topics/15317') Teahour #37 发布，本期邀请了 neo 的美女软件工程师鲁葳
            span.info
              | at
              abbr.timeago(title='2013-11-12T09:24:47+08:00') 20天前
          .body
            p
              | 这一期很高质量呀.
              img.emoji(src='http://l.ruby-china.org/assets/emojis/star2.png', title=':star2:', alt='')
        li
          .title
            a(href='/topics/15227') Vagrant，虚拟机管理工具
            span.info
              | at
              abbr.timeago(title='2013-11-02T10:10:30+08:00') 1月前
          .body
            p
              | 快速部署了一个  GITLAB  的 VM (
              a(href='https://github.com/gitlabhq/gitlab-vagrant-vm', rel='nofollow', target='_blank') https://github.com/gitlabhq/gitlab-vagrant-vm
              | ), 给公司做 DEMO 时用的, 用 Vagrant 的每一次都感慨自动化的强大.
              img.emoji(src='http://l.ruby-china.org/assets/emojis/sparkles.png', title=':sparkles:', alt='')
        li
          .title
            a(href='/topics/15213') 感谢所有讲师，感谢所有参会者，请大家给我们反馈
            span.info
              | at
              abbr.timeago(title='2013-11-02T10:04:13+08:00') 1月前
          .body
            p
              | 下次一定参加
              img.emoji(src='http://l.ruby-china.org/assets/emojis/sparkles.png', title=':sparkles:', alt='')
        li
          .title
            a(href='/topics/14453') Writings 开源
            span.info
              | at
              abbr.timeago(title='2013-09-29T06:58:56+08:00') 2月前
          .body
            p
              | Writings 给我的感觉是, 早上刚刚注册的, 还来不及好好看下功能, 那天下午就发邮件说被拖库了, 并且由于一个比较低级的错误... 隔了几天上去看了一下, 发现这东西居然收费...
              br
              | 然后几天前, 突然收到邮件, 说要关站了, 好吧.
            p 刚学 Rails , 对这个社区不是很熟悉, 看了 Rei 的资料, 发现还是挺 Senior 的工程师. "这个社区的第一位用户"....... 
            p 不过这个开源的事情还是挺不错的, 谢谢分享. 
        li
          .title
            a(href='/topics/14342') 【UCloud 开源接力】#yedingding@gmail.com#Teahour.FM
            span.info
              | at
              abbr.timeago(title='2013-09-24T09:36:09+08:00') 2月前
          .body
            p 谢谢你们的分享, 哈哈
        li
          .title
            a(href='/topics/14229') 感谢 Rails 让我从唯利是图的乙方（外包公司）跳到了甲方公司（某美资创业公司）
            span.info
              | at
              abbr.timeago(title='2013-09-21T17:20:32+08:00') 2月前
          .body
            p
              | 同样是从 php 过来的, 把所有的 php 框架学了个遍, 发现都很不靠谱, 直到去年发现 rails, 泪流满面啊..  这才叫框架, "conversion over configuration"
            p 话说 laravel 4 走的 "the rails way", 感觉一切都是那么的合理, 整个社区都为之疯狂. 

  include member_rightnav 
  .clearfix


