.reply
  .pull-left.face
    a.avatar(href='/Rei')
      img.uface(alt='5aec84cd0b5479a0d1d89b6ffa2a9a20', src='holder.js/48x48')
  .infos
    .info
      span.name
        a(data-name='Rei', href='/rei') chunlea
      span.time
        a.reply-floor(href='#reply2') 2楼
        | ,
        abbr.timeago(title='2013-11-29T18:13:37+08:00') 1天前
      span.opts.pull-right
        a.likeable(data-count='0', data-id='168565', data-state='', data-type='Reply', href='#', onclick='return App.likeable(this);', rel='twipsy', data-original-title='喜欢')
          i.glyphicon.glyphicon-heart-empty
          span  喜欢 
        a.edit(data-uid='1', href='/topics/15887/replies/168565/edit', title='修改回帖')
          i.glyphicon.glyphicon-edit
          span  编辑 
        a(data-floor='2', data-login='Rei', href='#', title='回复此楼')
          i.glyphicon.glyphicon-share-alt
          span  回复 
    .body
      p
        a(href='http://chloerei.com/2012/04/21/rails-3-2-ajax-guide/', rel='nofollow', target='_blank') http://chloerei.com/2012/04/21/rails-3-2-ajax-guide/
      p 模板在服务端，适用 UJS。

      i @
      | tyaccp_guojian
      | 没有。
    span.opts

.reply
  .pull-left.face
    a.avatar(href='/Rei')
      img.uface(alt='5aec84cd0b5479a0d1d89b6ffa2a9a20', src='holder.js/48x48')
  .infos
    .info
      span.name
        a(data-name='Rei', href='/rei') chunlea
      span.time
        a.reply-floor(href='#reply2') 2楼
        | ,
        abbr.timeago(title='2013-11-29T18:13:37+08:00') 1天前
      span.opts.pull-right
        a.likeable(data-count='0', data-id='168565', data-state='', data-type='Reply', href='#', onclick='return App.likeable(this);', rel='twipsy', data-original-title='喜欢')
          i.glyphicon.glyphicon-heart-empty
          span  喜欢
        a.edit(data-uid='1', href='/topics/15887/replies/168565/edit', title='修改回帖')
          i.glyphicon.glyphicon-edit
          span  编辑
        a(data-floor='2', data-login='Rei', href='#', title='回复此楼')
          i.glyphicon.glyphicon-share-alt
          span  回复
    .body
      p
        a.at_floor(href='#reply3', data-floor='3') #3楼
        a.at_user(href='/tyaccp_guojian', title='@tyaccp_guojian')
          i @
          | tyaccp_guojian
        | 怪不得看着 outlet 眼熟但记不起……

    span.opts