.col-sm-3.side-bar
  .panel.panel-default.corner-radius.box
    .panel-body.text-center
      .btn-group
        button.btn.btn-success.btn-lg(type='button') 
          i.glyphicon.glyphicon-pencil 
          |  发布新帖
        button.btn.btn-success.dropdown-toggle.btn-lg.dropdown-caret(type='button', data-toggle='dropdown')
          span.caret &nbsp;
        ul.dropdown-menu
          li
            a(href='/topics/new?node=3') Gem
          li
            a(href='/topics/new?node=24') 工具控
          li
            a(href='/topics/new?node=27') 瞎扯淡
          li
            a(href='/topics/new?node=44') 部署
          li
            a(href='/topics/new?node=52') 新手问题

  .panel.panel-default.corner-radius.box
    .panel-heading.text-center
      h3.panel-title 置顶话题
    .panel-body
      ul.list-unstyled.little-topic-list
        li
          a(href='/doitian')
            img.uface(alt='17bca47a4961a24f82ef972aa9e1c986', src='http://ruby-china.org/avatar/17bca47a4961a24f82ef972aa9e1c986.png?s=32&d=404', style='width: 16px; height: 16px;')
          a(href='/topics/15749') RubyConfChina 2013 大会视频 (更新下载链接）
        li
          a(href='/mojidong')
            img.uface(alt='04bf88c8fe2214f89efe90240a47f227', src='http://ruby-china.org/avatar/04bf88c8fe2214f89efe90240a47f227.png?s=32&d=404', style='width: 16px; height: 16px;')
          a(href='/topics/15865') 年底了大家注意防火防盗！
        li
          a(href='/zhufenggood')
            img.uface(alt='E906367e4fe93428097cc092486daed0', src='http://ruby-china.org/avatar/e906367e4fe93428097cc092486daed0.png?s=32&d=404', style='width: 16px; height: 16px;')
          a(href='/topics/10806') RailsConf 2013 视频出来了
        li
          a(href='/Rei')
            img.uface(alt='5aec84cd0b5479a0d1d89b6ffa2a9a20', src='http://ruby-china.org/avatar/5aec84cd0b5479a0d1d89b6ffa2a9a20.png?s=32&d=404', style='width: 16px; height: 16px;')
          a(href='/topics/10251') 如何更好地回答
        li
          a(href='/huacnlee')
            img.uface(alt='2', src='http://l.ruby-china.org/user/normal_avatar/2.png', style='width: 16px; height: 16px;')
          a(href='/topics/9650') 社区新规则 - 新注册的用户 1 周内禁止发帖


  .panel.panel-default.corner-radius.box
    .panel-heading.text-center
      h3.panel-title 小贴士
    .panel-body
      | railscasts.com 上面有很不错的 Rails 开发技巧的视频，通通看完你可以学到很多东西


  .panel.panel-default.corner-radius.box
    .panel-heading.text-center
      h3.panel-title 统计信息
    .panel-body
      ul
        li 社区会员: 10351 人
        li 帖子数: 15913 个
        li 回帖数: 168590 条


    