.navbar.navbar-default.navbar-static-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#top-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') PHPHub

    .navbar-collapse.collapse#top-navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='#') 社区
        li
          a(href='#') Wiki
        li
          a(href='#contact') 会员
        li
          a(href='#about') 关于
      form.navbar-form.navbar-left(role='search')
        .form-group
          input.form-control(type='text', placeholder='Search')
        button.btn.btn-default(type='submit').btn-circle
          i.glyphicon.glyphicon-search
            
            
      ul.nav.navbar-nav.navbar-right
        li
          a(href='register.html') 注册
        li.dropdown
          a.dropdown-toggle(href='login.html', data-toggle='dropdown')
            | 登录
            b.caret
          ul.dropdown-menu(style='padding: 15px; min-width: 250px;')
            li
              .row
                .col-md-12
                  form#login-nav.form(role='form', method='post', action='login.html', accept-charset='UTF-8')
                    .form-group
                      label.sr-only(for='exampleInputEmail2') Email address
                      input#exampleInputEmail2.form-control(type='email', placeholder='Email address', required='required')
                    .form-group
                      label.sr-only(for='exampleInputPassword2') Password
                      input#exampleInputPassword2.form-control(type='password', placeholder='Password', required='required')
                    .checkbox
                      label
                        input(type='checkbox')
                        | Remember me
                    .form-group
                      button.btn.btn-success.btn-block(type='submit') 提交
            li.divider
            li
              input#sign-in-github.btn.btn-primary.btn-block(type='button', value='使用 Github 登录')
    //
      /.nav-collapse 